.img-section {padding-bottom: 68px;}
.img-section a.buy-btn {padding: 0 18px 0 19px;
 height: 39px;
 border: 1px solid #e6e6e6;
 float: right;
 line-height: 39px;
 position: relative;
 margin-top: -12px;
 font-size: 17px;
 color: #65cbf8;
 border-radius: 8px;}
.img-section a.buy-btn:hover {
 text-decoration: none;
 color: #066995;}
 .fleximg {margin-top: 24px;
 width: 950px;
 height: 377px;
 overflow: hidden;
 border-radius: 8px;}
.fleximg ul.slides li {width: 950px;
 height: 377px;
 position: relative;
 float: left;}
.fleximg ul.slides li img { width: 950px;
 height: 377px;}
.fleximg ul.slides li .slide-cnt {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 739px;
 padding: 21px 190px 21px 21px;}
.fleximg ul.slides li .slide-cnt h3 {
 color: #f7f7f7;
 padding-bottom: 4px;}
.fleximg ul.slides li .slide-cnt p {
 color: #f7f7f7;
}
